.container {
    display: grid;
    grid-template-columns: 40px 50px 25% auto 25% 50px 40px;
    grid-template-rows: 100px 25% auto 50px;
    grid-gap: 10px;
}
.titleBar {
    display: inline-grid;
    grid-template-columns:40px 50px auto 50px 40px;
    grid-template-rows: 25% 75%;

    /*<row-start> / <column-start> / <row-end> / <column-end>*/
    grid-area: 1 /3 /2 /6;
}
.navbar{
    /*<row-start> / <column-start> / <row-end> / <column-end>*/
    grid-area: 1 /3 /3 /4;
    justify-self: end;
}
.title {
    /*<row-start> / <column-start> / <row-end> / <column-end>*/
    grid-area: 2 /3;
}
.message {
    /*<row-start> / <column-start> / <row-end> / <column-end>*/
    grid-area: 2 /4;
    justify-self: center;
}
.addEggForm{
    /*<row-start> / <column-start> / <row-end> / <column-end>*/
    grid-area: 2 /3;
    justify-self: center;
}
.showEggForm{
    /*<row-start> / <column-start> / <row-end> / <column-end>*/
    grid-area: 2 /5;
    justify-self: center;
}
.loginForm{
    /*<row-start> / <column-start> / <row-end> / <column-end>*/
    grid-area: 2 /4;
}
.dataTables_wrapper{
    /*<row-start> / <column-start> / <row-end> / <column-end>*/
    grid-area: 2 /3 /4 /6;
}

.navpic{
    /*<row-start> / <column-start> / <row-end> / <column-end>*/
    grid-area: 1/1/3/3;

}
img {
    width: 100%;
    height: auto;
}

